.mmm-hue-lights .grid {
    width: auto;
    display: flex;
    flex-flow: row wrap;
    margin: -10px;
    max-width: none;
    justify-content: center;
}

.mmm-hue-lights .grid .hue {
    width: calc(20% - 20px);
    margin: 10px;
    display: block;
}

.region.top.center .mmm-hue-lights .grid .hue {
    width: calc(25% - 20px);
    margin: 10px;
    display: block;
}

.region.lower.third .mmm-hue-lights .grid .hue {
    width: calc(20% - 20px);
    margin: 10px;
    display: block;
}

.calendar .medium {
  font-size: 25px;
  line-height: 30px;
}

.MMM-DarkSkyForecast .module-content {
  width: 500px; /* adjust this to taste */
}

.covid {
  width: 100%;
  max-width:100%;
  min-width:300px;
  line-height:125%;
}

.covid .item {
  box-sizing: border-box;
  border-radius: 8px;
  padding:8px;
  background-color:#FFFFFF;
  margin-bottom:8px;
}

.MMM-COVID-19 .module-header {
  color:#FFC921;
  font-weight:bold;
  font-size: 2.5vw;
}

.covid .location {
  color:#007777;
  font-weight:bold;
  font-size: 2.0vw;
}

.covid .numbers {
  font-size: 1.7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.covid .numbers .number {
  text-align:center;
  width:100%;
}

.covid .numbers .confirmed {
  color: #440818;
  text-align:left;
}

.covid .numbers .deaths {
  color: #CD071E;
}

.covid .numbers .recovered {
  color: #005B96;
  text-align:right;
}

.covid .numbers .confirmed::before {
  content: "Confirmed: "
}

.covid .numbers .deaths::before {
  content: "Deaths: "
}

.covid .numbers .recovered::before {
  content: "Recovered: "
}
