# Glances web server
# Install this service file in /etc/systemd/system/
# Enable the service with
# sudo systemctl enable glances-web.service
# Start this service with
# sudo systemctl start glances-web.service

[Unit]
Description=Glances
After=network.target

[Service]
ExecStart=/usr/local/bin/glances -w
Restart=on-abort
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
