[Unit]
Description=ethminer service, starts the ethminer Ethereum miner
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/start_ethminer -d 30 -s
ExecStop=/bin/bash /usr/local/bin/stop_ethminer

[Install]
WantedBy=multi-user.target
