[Desktop Entry]
Name=Variety
Comment=Variety Wallpaper Changer
Icon=variety
Exec=variety-start
Terminal=false
Type=Application
X-GNOME-Autostart-Delay=20
